# Prerequisites
*.d

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# No send a vc file
*.vc

# End of https://www.toptal.com/developers/gitignore/api/windows
/.vscode
/.vs
/.vs
/.vs/the_quadratic_equation_-
/.vs/the_quadratic_equation_-/FileContentIndex
.vs/the_quadratic_equation_-/v17/Browse.VC.db
/.vs/the_quadratic_equation_-
/.vs
/.vs

